@use "reset";

#wrap {
  width: 100%;
  height: 100vh;
  position: relative;
  background: black;
  overflow: hidden;

  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0px;
    left: 0px;
  }

  .textBox {
    //풀스크린 레이아웃에서 absolute요소를 화면 정중앙에 배치
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;

    h2 {
      font-size: 10vw;
      font-weight: normal;
      color: white;
      font-family: "LimeLight";
    }
    .btnOpen {
      display: inline-block;
      padding: 7px 30px;
      border: 1px solid white;
      font-size: 0.8rem/1 "arial";
      color: white;
    }
  }
}